/* Table Styles */
.table-container {
  padding: 0;
}

.table-header {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-top: none;
}

.table-header-cell {
  text-align: left;
  color: #606060;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
  letter-spacing: 0.3px;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }

  &:nth-child(even) {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  &:hover {
    background-color: #fff !important;
    box-shadow: 4px 4px 40px 2px rgba(0, 0, 0, 0.16);
  }
}

.table-cell {
  font-size: 13px;
  color: #303030;
  padding: 22px 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  justify-content: center;
  min-height: 57px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: #f5f5f5;
  border-radius: 0;
  margin: 20px;
  border: none;

  p {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}
