.new-page-container {
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 30px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}






