/* Page Container */
.page-container {
  min-height: 100vh;
  background-color: #f1f9fd !important;
  position: relative;
  padding: 20px;
}

/* Empty State */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: #f5f5f5;
  border-radius: 0;
  margin: 20px;
  border: none;

  p {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}
